*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(3, 3, 48);
}
.main{
    width: 100%;
    background:  linear-gradient(to top,  rgb(3, 3, 48),rgba(8, 8, 8, 0.5),  rgb(3, 3, 48)),url(ASChart.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width:85% ;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icon{
    width: 20px;
    float:center;
    height: 70px;
}
.logo{
    
    font-size: 45px;
    color: rgb(252, 129, 6);
    padding-left: 500px;
    font-family:sans-serif;
    font-display:initia;
    font-style: italic;
    float: inline-end;
    padding-top: 50px;
}
.navbar ul li{
    list-style: none;
    
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}
.content{
    color: rgb(249, 250, 249);
    font-size: 20px;
    font-family:Arial;
    font-display:initial;
    padding-left:100px;
    padding-top: 5px;
    font-style: italic;
}
.head{
    width: 800px;
    padding-left: 100px;
    padding-top: 50px;
}
.paragraph{
    width: 850px;
    display: flex;
   justify-content: center;
    color: rgb(247, 247, 243);
    font-size: 25px;
    font-family:Arial;
    font-style:normal;
    font-display:initial;
    padding-top: 50px;
    padding-left:100px;
    padding-bottom: 10px;
    padding-right: 10px;

}
.content .C1{
    width: 1px;
    font-size: 25px;
    padding-left: 250px;
    font-family: arial;
    font-style:normal;
}
.C2{
    font-size: 25px;
    padding-left: 239px;
    font-family: arial;
    font-style:normal;

}
.signup{
    font-size: 25px;
    color: white;
    padding-top: 375px;
    padding-left: 150px;
}
.signup .b1{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.signup .b2{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.C3{
    width: 200px;
    padding-left:275px;
    font-size: 25px;
    font-family: arial;
    font-style:normal;

}
.LGT{
    color: rgb(254, 255, 249);
    font-size: 40px;
    font-style: oblique;
    padding-top: 100px;
  padding-bottom: 100px;
    padding-left: 350px;  
}


.faq{
   width: 400px;
    color: white;
    padding-left: 150px;
    padding-bottom: 10px;
    left: 500px;
    top: 1000px;
    padding-top: 250px;
    padding-bottom: 5px;
    padding-right: 20px;
   
}
.img{
    
    position: absolute;
    left: 740px;
    top: 1800px;
}

.faq .h3{
    font-style: normal;
    font-size: 30px;
    padding-left: 20px;
}
.faq .q1ans{
    font-style: normal;
    font-size: 20px;
}
.faq .q2ans{
    font-style: normal;
    font-size: 20px;
}
.signup .startimg{
    position: absolute;
    left: 740px;
    top:900px;
}


