:root {
    --text-primary: #b6b6b6;
    --text-secondary: #EDFCFA;
    --bg-primary: #131E2A;
    --bg-secondary: #253156;
    --transition-speed: 300ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.05rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #000000;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
    margin-bottom: 8rem;
  }

  .navbar {
    width: 5rem;
    height: 100vh;
    font-size: 16px;
    font-family: 'Alatsi';
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    z-index: 10;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #FFA500;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-primary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .nav-item:last-child {
      margin-top: 0px;
    }

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      position: fixed;
      margin-top: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin-left: 0;
      margin-bottom: 30px;
      
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {

    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text{
      left: 0px;
    }

    main {
      margin-bottom: 5rem;
    }

    #main {
      padding-bottom: 5rem;
    }
  }

.center-item{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.landing-body{
  background-color: rgb(3, 3, 48);
}

.landing-navbar{
  width:85% ;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.landing-icon{
  width: 20px;
  float:center;
  height: 70px;
}
.landing-logo{
  
  font-size: 45px;
  color: rgb(252, 129, 6);
  padding-left: 500px;
  font-family:sans-serif;
  font-display:initia;
  font-style: italic;
  float: inline-end;
  padding-top: 50px;
}
.landing-navbar ul li{
  list-style: none;
  
  margin: 0 20px;
}
.landing-navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform:uppercase;
}
.landing-content{
  color: rgb(249, 250, 249);
  font-size: 20px;
  font-family:Arial;
  font-display:initial;
  padding-left:100px;
  padding-top: 5px;
  font-style: italic;
}
.landing-head{
  width: 800px;
  padding-left: 100px;
  padding-top: 50px;
}
.paragraph{
  width: 850px;
  display: flex;
 justify-content: center;
  color: rgb(247, 247, 243);
  font-size: 25px;
  font-family:Arial;
  font-style:normal;
  font-display:initial;
  padding-top: 50px;
  padding-left:100px;
  padding-bottom: 10px;
  padding-right: 10px;

}
.content .C1{
  width: 1px;
  font-size: 25px;
  padding-left: 250px;
  font-family: arial;
  font-style:normal;
}
.C2{
  font-size: 25px;
  padding-left: 239px;
  font-family: arial;
  font-style:normal;

}
.signup{
  font-size: 25px;
  color: white;
  padding-top: 375px;
  padding-left: 150px;
}
.signup .b1{
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.signup .b2{
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.C3{
  width: 200px;
  padding-left:275px;
  font-size: 25px;
  font-family: arial;
  font-style:normal;

}
.LGT{
  color: rgb(254, 255, 249);
  font-size: 40px;
  font-style: oblique;
  padding-top: 100px;
padding-bottom: 100px;
  padding-left: 350px;  
}


.faq{
 width: 400px;
  color: white;
  padding-left: 150px;
  padding-bottom: 10px;
  left: 500px;
  top: 1000px;
  padding-top: 250px;
  padding-bottom: 5px;
  padding-right: 20px;
 
}
.img{
  
  position: absolute;
  left: 740px;
  top: 1800px;
}

.faq .h3{
  font-style: normal;
  font-size: 30px;
  padding-left: 20px;
}
.faq .q1ans{
  font-style: normal;
  font-size: 20px;
}
.faq .q2ans{
  font-style: normal;
  font-size: 20px;
}
.signup .startimg{
  position: absolute;
  left: 740px;
  top:900px;
}